/* 让整个页面居中，背景淡灰 */
html, body {
    margin: 0;
    padding: 0;
    background-color: #f7f9fc;
    height: 100%;
        
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* 中心容器：用于居中设备部分 */
  .main-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
/* 注意！！！！！当前布局已稳定，虽然有结构重叠，但不影响视觉效果，请勿轻易调整 */

  