.help-section {
    padding: 0 20px; 
    margin-bottom: 0px;
  }

  .help-section p{
    font-size: 12px;
  }

  
  .faq-list {
    list-style: none;
    padding-left: 0;
    margin: 12px 0 0 0;
  }
  
  .faq-item {
    margin-bottom: 12px;
    cursor: pointer;
  }
  
  .faq-question {
    font-size: 13px;
    font-weight: bold;
    color: #333;
    padding: 8px 0;
    position: relative;
  }
  
  .faq-answer {
    display: none;
    font-size: 13px;
    color: #555;
    padding-left: 12px;
    line-height: 1.5;
}

.faq-item.open .faq-answer {
    display: block;
}

.faq-question::after {
    content: "▼";
    position: absolute;
    right: 0;
    font-size: 11px;
    transform: rotate(0deg);
    transition: transform 0.2s ease;
}

.faq-item.open .faq-question::after {
    transform: rotate(180deg);
}
